tests/com.sabre.schemas.stl2Developer.test/Resources/ACS_PassengerService_v0.0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://services.sabre.com/ACS/passenger/v_1" xmlns:ACS="http://services.sabre.com/ACS/passenger/v_1" xmlns:STL="http://services.sabre.com/STL/v01" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://services.sabre.com/ACS/passenger/v_1" version="1.0.0">
  <xsd:annotation>
    <xsd:documentation>Generated by Contivo Builder on November 4, 2009 at 1:49:49 PM CST</xsd:documentation>
    <xsd:documentation>from the ACS_PassengerService_v0.0.1 package with namespace http://services.sabre.com/ACS/passenger/v_1</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://services.sabre.com/STL/v01" schemaLocation="STL_For_ACS_BSO_v.0.0.3.xsd"/>
  <xsd:element name="ACS_GetPsgrRQ" type="ACS_GetPsgrRQ"/>
  <xsd:element name="ACS_GetPsgrRS" type="ACS_GetPsgrRS"/>
  <xsd:complexType name="ACS_GetPsgrRQ">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="FlightID" type="FlightID.ACS"/>
      <xsd:element minOccurs="0" name="PassengerQuery" type="PassengerQuery.ACS"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ACS_GetPsgrRS">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Itinerary" type="Itinerary.ACS"/>
      <xsd:element minOccurs="0" name="Passenger" type="Passenger.ACS"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FlightID.ACS">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Carrier" type="STL:AirlineCode.IATA"/>
      <xsd:element minOccurs="0" name="OperatingCarrier" type="STL:AirlineCode.IATA"/>
      <xsd:element minOccurs="0" name="Flight" type="STL:FlightNumber.Base"/>
      <xsd:element minOccurs="0" name="Booking" type="STL:UpperCaseAlphaLength1to2"/>
      <xsd:element minOccurs="0" name="DepartureDate" type="STL:Date"/>
      <xsd:element minOccurs="0" name="Board" type="STL:AirportCode"/>
      <xsd:element minOccurs="0" name="Arrival" type="STL:AirportCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Itinerary.ACS">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SegID" type="xsd:short"/>
      <xsd:element minOccurs="0" name="Priority" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Airline" type="STL:AirlineCode.IATA"/>
      <xsd:element minOccurs="0" name="Flight" type="STL:FlightNumber.Base"/>
      <xsd:element minOccurs="0" name="DepartureAirport" type="STL:AirportCode"/>
      <xsd:element minOccurs="0" name="ArrivalAirport" type="STL:AirportCode"/>
      <xsd:element minOccurs="0" name="DepartureGate" type="STL:GateName"/>
      <xsd:element minOccurs="0" name="DepartureDateTime" type="STL:DateTime"/>
      <xsd:element minOccurs="0" name="Equip" type="STL:Equipment"/>
      <xsd:element minOccurs="0" name="Booking" type="STL:UpperCaseAlphaLength1to2"/>
      <xsd:element minOccurs="0" name="ClassCount" type="xsd:short"/>
      <xsd:element minOccurs="0" name="Upgrade" type="STL:AlphaNumericStringLength1to10"/>
      <xsd:element minOccurs="0" name="Seniority" type="STL:AlphaNumericStringLength1to8"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Passenger.ACS">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Id" type="xsd:short"/>
      <xsd:element minOccurs="0" name="Last" type="xsd:string"/>
      <xsd:element minOccurs="0" name="First" type="xsd:string"/>
      <xsd:element minOccurs="0" name="GroupCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BookingCode" type="STL:UpperCaseAlphaLength1to2"/>
      <xsd:element minOccurs="0" name="Seat" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BoardingPassFlag" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="Destination" type="STL:AirportCode"/>
      <xsd:element minOccurs="0" name="Type" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BagCount" type="xsd:short"/>
    </xsd:sequence>
    <xsd:attribute name="checkInNumber" type="xsd:short"/>
  </xsd:complexType>
  <xsd:complexType name="PassengerQuery.ACS">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Name" type="STL:StringLength1to20"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
