tests/com.sabre.schemas.stl2Developer.test/Resources/GetAncillaryFees_v.1.0.10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://service.sabre.com/merchandising/ancillary/v_1" 
	xmlns:ANC="http://service.sabre.com/merchandising/ancillary/v_1" 
	xmlns:STL="http://services.sabre.com/STL/v01"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	 attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://service.sabre.com/merchandising/ancillary/v_1" version="1.0.10">
  <xsd:annotation>
    <xsd:documentation>Generated by Contivo Builder on November 4, 2009 at 1:49:49 PM CST</xsd:documentation>
    <xsd:documentation>from the GetAncillaryFees_v.1.0.10 package with namespace http://service.sabre.com/merchandising/ancillary/v_1</xsd:documentation>
  </xsd:annotation>
  <xsd:annotation>
    <xsd:documentation>Generated by Contivo Builder on September 23, 2009 at 5:06:07 PM CDT</xsd:documentation>
    <xsd:documentation>October 6, 2009; dmh; version 1.0.6 - changed all optional element with type string lengths of 0 to x to 1 to x and introduced the BagCount simple type which is a short.</xsd:documentation>
    <xsd:documentation>October 27, 2009 - dmh - changed AncillaryGroup element name in AncillaryGroups to GroupCode.</xsd:documentation>
    <xsd:documentation>November 2, 2009 - dmh - version 0.0.9 - &#13;
1.      Defined a new type UpperCaseStringLength1to3 for the EquipmentType since it can contain numerics (e.g. 797)&#13;
&#13;
2.      Defined a new type UpperCaseAlphaNumericLength1 for FeeAppl&#13;
&#13;
3.      Removed “- Frequent flyer status as specified by level (1 - 9; Blank = No application)” from the PassengerDetails documentation&#13;
&#13;
4.      Removed “Ancillary” from AncillaryCommercialName in AncillaryService.OD&#13;
&#13;
5.      Moved “CommercialName” after “GroupCode” in AncillaryService.OD&#13;
&#13;
</xsd:documentation>
    <xsd:documentation>November 4, 2009 - dmh - version 1.0.10 - changed namespace to just have the major number.</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://services.sabre.com/STL/v01" schemaLocation="STL_For_ACS_BSO_v.0.0.3.xsd"/>
  <xsd:element name="GetAncillaryFeesRQ" type="GetAncillaryFeesRQ"/>
  <xsd:element name="GetAncillaryFeesRS" type="GetAncillaryFeesRS">
    <xsd:annotation>
      <xsd:documentation>Get Ancillary Fees Response:
				Source
				Ancillary Search Result
				Message Info
				Version</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="AirlineSegmentCriteria">
    <xsd:sequence>
      <xsd:element name="SegmentData" type="SegmentData.Merchandising"/>
      <xsd:element minOccurs="0" name="SegmentAttributes" type="SegmentAttributes"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AncillaryData">
    <xsd:annotation>
      <xsd:documentation>Ancillary Data
				Ancillary Segment Data (sent if ancillary fee is associated to a segment)</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="AncillarySegmentData" type="AncillarySegmentData"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AncillaryFee">
    <xsd:annotation>
      <xsd:documentation>Ancillary Fee:
				FeeAppl - specifies how the service fee is to be applied
				 					1 = Per one way
									2 = Per round trip
									3 = Per item
									4 = Per travel
									5 = Per ticket
									Blank = No application</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Fee" type="Fee"/>
      <xsd:element minOccurs="0" name="FeeAppl" type="STL:UpperCaseAlphaNumericLength1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AncillaryFeeData">
    <xsd:annotation>
      <xsd:documentation>Ancillary Fee Data 
			    Segment Data  	
			    Segment Attributes
			    Ancillary Fee	
			 	  Message</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SegmentAttributes" type="SegmentAttributes"/>
      <xsd:element minOccurs="0" name="AncillaryFee" type="AncillaryFee"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Message" type="ErrorMessage"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AncillaryGroups">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="GroupCode" type="STL:UpperCaseStringLength1to2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AncillaryResult">
    <xsd:annotation>
      <xsd:documentation>Ancillary Result
        Ancillary Fee Total
				Ancillary Service (sent at this level if OriginAndDestinationCriteria is not provided)
				Origin and Destination Result</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AncillaryFeeTotal" type="AncillaryFee"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="OriginAndDestinationResult" type="OriginAndDestinationResult"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="AncillaryService" type="AncillaryService"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AncillarySearchCriteria">
    <xsd:annotation>
      <xsd:documentation>Ancillary Search Criteria:
				Passenger Details
				Origin and Destination Criteria
				Ancillary Groups</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="PassengerDetails" type="PassengerDetails"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="OriginAndDestinationCriteria" type="OriginAndDestinationCriteria"/>
      <xsd:element minOccurs="0" name="AncillaryGroups" type="AncillaryGroups"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AncillarySearchResult">
    <xsd:annotation>
      <xsd:documentation>Ancillary Search Result:
				Passenger Details
				Ancillary Result</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="PassengerDetails" type="PassengerDetails"/>
      <xsd:element name="AncillaryResult" type="AncillaryResult"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AncillarySegmentData">
    <xsd:annotation>
      <xsd:documentation>Ancillary Segment Data
				Segment Data
				Ancillary Services</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SegmentData" type="SegmentData.Merchandising"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="AncillaryService" type="AncillaryService.OD"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AncillaryService">
    <xsd:sequence>
      <xsd:element name="GroupCode" type="STL:UpperCaseStringLength0to2"/>
      <xsd:element minOccurs="0" name="CommercialName" type="STL:UpperCaseStringLength1to30"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Fee" type="AncillaryFeeData"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AncillaryService.OD">
    <xsd:sequence>
      <xsd:element name="GroupCode" type="STL:UpperCaseStringLength0to2"/>
      <xsd:element minOccurs="0" name="CommercialName" type="STL:UpperCaseStringLength1to30"/>
      <xsd:element minOccurs="0" name="Origin" type="STL:AirportCode.Merchandising"/>
      <xsd:element minOccurs="0" name="Destination" type="STL:AirportCode.Merchandising"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="AncillaryFeeData" type="AncillaryFeeData"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ErrorMessage">
    <xsd:annotation>
      <xsd:documentation>Message
          MessageType
                   D = Display
                   W = Warning
                   N = Endorsement
                   R = Restriction
                   E = Error
                   I = Info</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MessageType" type="STL:UpperCaseAlphaLength1"/>
      <xsd:element minOccurs="0" name="FailCode" type="xsd:int"/>
      <xsd:element minOccurs="0" name="AirlineCode" type="STL:AirlineCode.Merchandising"/>
      <xsd:element minOccurs="0" name="Text" type="STL:Text"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Fee">
    <xsd:simpleContent>
      <xsd:extension base="STL:Amount">
        <xsd:attribute name="Currency" type="STL:CurrencyCodeList"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="GetAncillaryFeesRQ">
    <xsd:sequence>
      <xsd:element name="Source" type="Source.Merchandising"/>
      <xsd:element minOccurs="0" name="AncillarySearchCriteria" type="AncillarySearchCriteria"/>
    </xsd:sequence>
    <xsd:attribute name="version" type="xsd:decimal" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="GetAncillaryFeesRS">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Source" type="Source.Merchandising"/>
      <xsd:element minOccurs="0" name="AncillarySearchResult" type="AncillarySearchResult"/>
      <xsd:element minOccurs="0" name="Message" type="ErrorMessage"/>
    </xsd:sequence>
    <xsd:attribute name="version" type="xsd:decimal" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="OriginAndDestinationCriteria">
    <xsd:annotation>
      <xsd:documentation>Origin And Destination Criteria:
				Segment Grouping
				Departure Airport Code
				Arrival Airport Code</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Origin" type="STL:AirportCode.Merchandising"/>
      <xsd:element name="Destination" type="STL:AirportCode.Merchandising"/>
      <xsd:element maxOccurs="unbounded" name="SegmentGrouping" type="SegmentGrouping"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OriginAndDestinationResult">
    <xsd:annotation>
      <xsd:documentation>OriginAndDestinationResult
				Origin
				Destination
				AncillaryData</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Origin" type="STL:AirportCode.Merchandising"/>
      <xsd:element name="Destination" type="STL:AirportCode.Merchandising"/>
      <xsd:element name="AncillaryData" type="AncillaryData"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PassengerDetails">
    <xsd:annotation>
      <xsd:documentation>Passenger Details:&#13;
	Customer Value Score (1 to 100)&#13;
        Ticketing Date&#13;
        Checkin Date</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CustomerValueScore" type="STL:CV_Score"/>
      <xsd:element minOccurs="0" name="TicketingDate" type="STL:DateYYYY-MM-DD.Merchandising"/>
      <xsd:element minOccurs="0" name="CheckInDate" type="STL:DateYYYY-MM-DD.Merchandising"/>
      <xsd:element minOccurs="0" name="FrequentFlyerTier" type="STL:StringLength1to64"/>
      <xsd:element minOccurs="0" name="NumberOfBags" type="STL:BagCount"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentAttributes">
    <xsd:annotation>
      <xsd:documentation>Segment Attributes:
				ClassesOfService - RBD/Booking Code/Classes of Service (separated by "|", e.g., F|C|Y)
				StatusValues - Number of Seats available for the classes of service specified in the ClassesOfService list</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="FlightNumberRange" type="STL:StringLength1to255"/>
      <xsd:element minOccurs="0" name="EquipmentType" type="STL:UpperCaseAlphaNumericLength1to3"/>
      <xsd:element minOccurs="0" name="Cabin" type="STL:UpperCaseAlphaLength1"/>
      <xsd:element minOccurs="0" name="ClassesOfService" type="STL:UpperCaseStringLength0to64"/>
      <xsd:element minOccurs="0" name="UpgradeToClassOfService" type="STL:UpperCaseStringLength0to64"/>
      <xsd:element minOccurs="0" name="StatusValues" type="StatusValuesType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentData.Merchandising">
    <xsd:annotation>
      <xsd:documentation>Segment Data:
				SegmentNumber - Segment Number (1, 2 or 3; i.e., segment 2 of a connection)
				SegmentsInConnection - Number of Segments in a Connection (2 or 3)</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="SegmentNumber" type="STL:Numeric1to3"/>
      <xsd:element name="SegmentsInConnection" type="STL:Numeric1to3"/>
      <xsd:element name="AirlineCode" type="STL:AirlineCode.Merchandising"/>
      <xsd:element minOccurs="0" name="FlightNumber" type="STL:FlightNumber.Base"/>
      <xsd:element name="DepartureDate" type="STL:DateYYYY-MM-DD.Merchandising"/>
      <xsd:element minOccurs="0" name="TicketingDate" type="STL:DateYYYY-MM-DD.Merchandising"/>
      <xsd:element name="Origin" type="STL:AirportCode.Merchandising"/>
      <xsd:element name="Destination" type="STL:AirportCode.Merchandising"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegmentGrouping">
    <xsd:annotation>
      <xsd:documentation>Segment Grouping:
         A Segment Grouping may consist of a direct flight (one AirlineSegmentCriteria),
                                   a 2-segment connection (two AirlineSegmentCriteria), or
                                   a 3-segment connection (three AirlineSegmentCriteria)</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="AirlineSegmentCriteria" type="AirlineSegmentCriteria"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Source.Merchandising">
    <xsd:annotation>
      <xsd:documentation>Source:
				PseudoCityCode - Travel Agency Pseudo City Code; Point of Sale PCC
				CityCode - Agent City Code; Point of Sale City Code
				Client - (e.g., AVL - Availability, PRS - Pre Reserved Seats, ACS - Airport Check In, PNR - Passenger Name Record,
								 SSW - Sabre Sonic Web, INT - InterAct)
				Transaction ID - Client supplied transaction ID</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="PseudoCityCode" type="STL:PseudoCityCode.Merchandising"/>
      <xsd:element minOccurs="0" name="CityCode" type="STL:AirportCode.Merchandising"/>
      <xsd:element name="ClientID" type="STL:ClientID.Merchandising"/>
      <xsd:element minOccurs="0" name="TransactionID" type="STL:UpperCaseStringLength1to64"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="StatusValuesType">
    <xsd:annotation>
      <xsd:documentation>Sequence of availability status values. Numbers, max. 254, separated with |</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]+(\|[0-9]+)*"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
