tests/com.sabre.schemas.stl2Developer.test/Resources/Miscellaneous_v.0.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	xmlns="http://www.sabre.com/ns/Ticketing/misc/v_1" 
	xmlns:STL="http://services.sabre.com/STL/v01" 
	xmlns:misc="http://www.sabre.com/ns/Ticketing/misc/v_1" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	attributeFormDefault="unqualified" elementFormDefault="qualified" 
	targetNamespace="http://www.sabre.com/ns/Ticketing/misc/v_1" 
	version="0.0.4">
  <xsd:annotation>
    <xsd:documentation>Generated by Contivo Builder on November 4, 2009 at 1:49:49 PM CST</xsd:documentation>
    <xsd:documentation>from the Miscellaneous_v.0.0.5 package with namespace http://www.sabre.com/ns/Ticketing/misc/v_1</xsd:documentation>
  </xsd:annotation>
  <xsd:annotation>
    <xsd:documentation>Generated by Contivo Builder on September 16, 2009 at 2:02:31 PM CDT</xsd:documentation>
    <xsd:documentation>from the Miscellaneous_v.0.0.4 package with namespace http://www.sabre.com/ns/Ticketing/misc/1.0</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://services.sabre.com/STL/v01" schemaLocation="STL_For_ACS_BSO_v.0.0.3.xsd"/>
  <xsd:element name="CalculateTotalCostRQ" type="CalculateTotalCostRQ"/>
  <xsd:element name="CalculateTotalCostRS" type="CalculateTotalCostRS"/>
  <xsd:element name="CollectMiscFeeRQ" type="CollectMiscFeeRQ"/>
  <xsd:element name="CollectMiscFeeRS" type="CollectMiscFeeRS"/>
  <xsd:element name="GetMiscFeesRQ" type="GetMiscFeesRQ"/>
  <xsd:element name="GetMiscFeesRS" type="GetMiscFeesRS"/>
  <xsd:element name="WaiveMiscFeeRQ" type="WaiveMiscFeeRQ"/>
  <xsd:element name="WaiveMiscFeeRS" type="WaiveMiscFeeRS"/>
  <xsd:complexType name="AgentPOS">
    <xsd:attribute name="printerStock" type="STL:AlphaNumericStringLength2"/>
    <xsd:attribute name="printTaxCpn" type="STL:AlphaNumericStringLength1"/>
    <xsd:attribute name="transactionCode" type="STL:AlphaNumericStringLength1to8" use="required">
      <xsd:annotation>
        <xsd:documentation>A code that defines the type of processing to be applied from the core service - Miscellaneous Sales Receipt (MSR) or Excess Baggage (EXB).                       Mapped to: SR05_11_TRT,#SR05_11_W EXB or #SR05_11_WMSR</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="clientCode" type="STL:AirlineCode" use="required">
      <xsd:annotation>
        <xsd:documentation>A code that applies to the client or issuing carrier (e.g. YX, WS) .                 Mapped to SR05_11_???</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="posCityCode" type="STL:UpperCaseAlphaNumericLength3to5" use="required">
      <xsd:annotation>
        <xsd:documentation>A point of sale city code or AAA city code where the transaction is initiated (e.g, LAS).                      Mapped to: SR05_11_ODEP</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="posCountryCode" type="STL:CountryCode">
      <xsd:annotation>
        <xsd:documentation>A point of sale country code or AAA country code where the transaction is initiated (e.g, US).                Mapped to: SR05_11_CTRY</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="locNumber" type="STL:AlphaNumericStringLength1to8">
      <xsd:annotation>
        <xsd:documentation>A station or location number of the issuing agent (e.g, 77777770 for HDQTR).  Mapped to: SR05_11_STNO</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="agentSine" type="STL:AgentSine">
      <xsd:annotation>
        <xsd:documentation>Asine-in code associated to the agent doing the transaction (e.g. N*4).  Mapped to: SR05_11_ASIN</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="agentDuty" type="STL:AlphaNumericStringLength1">
      <xsd:annotation>
        <xsd:documentation>A duty code associated to the agent doing the transaction (4 o5 5).             Mapped to: SR05_11_DCDE</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="zipCode" type="STL:StringLength0to8">
      <xsd:annotation>
        <xsd:documentation>A 5-digit ZIP code that may be needed for the US tax calculation, if applicable (e.g. 76123).                   Mapped to: SR05_11_ZIPC</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="agentLniata" type="STL:AlphaNumericStringLength1to8">
      <xsd:annotation>
        <xsd:documentation>A CRT line address of the agent doing the transaction (e.g. F20202).           Mapped to: SR05_11_ASIN</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="printerLniata" type="STL:AlphaNumericStringLength1to8">
      <xsd:annotation>
        <xsd:documentation>A printer line address where the document will be printed.  A printer should have been assigned by the agent (e.g., F20204)</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="inputCurrency" type="STL:CurrencyCodeList"/>
  </xsd:complexType>
  <xsd:complexType name="AirportTax">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TaxAmount" type="STL:Amount"/>
    </xsd:sequence>
    <xsd:attribute name="taxCode" type="STL:AlphaNumericStringLength1to5">
      <xsd:annotation>
        <xsd:documentation>A code that applies to the tax (e.g, US, ZP)</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="airportCode" type="STL:CityCode">
      <xsd:annotation>
        <xsd:documentation>A city code associated to ZP and XF taxes</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CalculateTotalCostRQ">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Header" type="STL:Header.RQ"/>
      <xsd:element name="AgentPOS" type="AgentPOS"/>
      <xsd:element maxOccurs="999" name="Fees" type="Fees"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CalculateTotalCostRS">
    <xsd:sequence>
      <xsd:element name="Header" type="STL:Header.RS"/>
      <xsd:element minOccurs="0" name="AgentPOS" type="AgentPOS"/>
      <xsd:element minOccurs="0" name="Fees" type="Fees"/>
      <xsd:element minOccurs="0" name="TotalCost" type="STL:Amount"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CollectMiscFeeRQ">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Header" type="STL:Header.RQ"/>
      <xsd:element name="AgentPOS" type="AgentPOS"/>
      <xsd:element maxOccurs="999" name="Fees" type="Fees"/>
      <xsd:element name="TotalCost" type="STL:Amount">
        <xsd:annotation>
          <xsd:documentation>The grand total cost of all the purchases made.  The calculated cost should match the total payment amount (single or multiple forms of payment)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="2" name="Payment" type="Payment"/>
      <xsd:element name="DetailLevel" type="STL:RequestedDetailLevel"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CollectMiscFeeRS">
    <xsd:sequence>
      <xsd:element name="Header" type="STL:Header.RS"/>
      <xsd:element minOccurs="0" name="AgentPOS" type="AgentPOS"/>
      <xsd:element minOccurs="0" name="Fees" type="Fees"/>
      <xsd:element minOccurs="0" name="TotalCost" type="STL:Amount"/>
      <xsd:element maxOccurs="2" minOccurs="0" name="Payment" type="Payment"/>
      <xsd:element maxOccurs="99" minOccurs="0" name="IssuedDoc" type="DocumentNumber"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Customer">
    <xsd:annotation>
      <xsd:documentation>Note: Same as Ticketing Customer component. To be migrated in Sabre Type Library.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CustomerDetails">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="CustomerDetails"/>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="lastName" type="STL:ProperName">
      <xsd:annotation>
        <xsd:documentation>The last name of the customer who purchased a ticket or service</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="firstName" type="STL:ProperName">
      <xsd:annotation>
        <xsd:documentation>The first name of the customer who purchased the ticket or service</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CustomerDetails">
    <xsd:annotation>
      <xsd:documentation>Note: Same as Ticketing Customer component. To be migrated in Sabre Type Library.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="pnrLocator" type="STL:UpperCaseAlphaLength6">
      <xsd:annotation>
        <xsd:documentation>A code associated to the reservations of the customer purchasing an ancillary service.                      Mapped to: SR05_31_PNR</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="freqFlyerNumber" type="STL:AlphaNumericStringLength1to19">
      <xsd:annotation>
        <xsd:documentation>Same as customer loyalty number</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="freqFlyerAirline" type="STL:AirlineCode"/>
  </xsd:complexType>
  <xsd:complexType name="DocumentNumber">
    <xsd:simpleContent>
      <xsd:extension base="STL:AlphaNumericStringLength1to14">
        <xsd:attribute name="couponNumber">
          <xsd:annotation>
            <xsd:documentation>valid values are 1 to 4</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ExchangeDocNumber">
    <xsd:attribute name="couponNumber" type="STL:AlphaLength2">
      <xsd:annotation>
        <xsd:documentation>Coupon number of the exchange document used as payment for the service or ancillary item.                  Mapped to: SR05_D1_CPNR</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="issueDate" type="xsd:date">
      <xsd:annotation>
        <xsd:documentation>Issue date of the exchange document used as payment for the service or ancillary item.                       Mapped to: SR05_D1_DISD</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="issuePlace" type="STL:AlphaNumericStringLength1to5">
      <xsd:annotation>
        <xsd:documentation>Issue place of the exchange document used as payment for the service or ancillary item.                       Mapped to: SR05_D1_DPLI</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="origFop" type="STL:AlphaNumericStringLength1to19">
      <xsd:annotation>
        <xsd:documentation>Original payment of the exchange document used as payment for the service or ancillary item.                     Mapped to: SR05_D1_OFOP</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="Fee">
    <xsd:sequence>
      <xsd:element maxOccurs="99" minOccurs="0" name="Tax" type="Tax"/>
      <xsd:element minOccurs="0" name="AssociatedTicketNumber" type="DocumentNumber">
        <xsd:annotation>
          <xsd:documentation>Fee has an association with a coupon (1..4) and ticket number</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="30" minOccurs="0" name="AirportTax" type="AirportTax"/>
    </xsd:sequence>
    <xsd:attribute name="totalDeclaredValue" type="STL:_amount">
      <xsd:annotation>
        <xsd:documentation>The value of an item for purposes of purchasing additional insurance of that item (e.g. high-value paint)</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="classOfService" type="STL:AlphaNumericStringLength1">
      <xsd:annotation>
        <xsd:documentation>For international travel, the class of service needed for calculating the cost of the insurance.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="weightCode" type="STL:AlphaNumericStringLength1">
      <xsd:annotation>
        <xsd:documentation>The weight (kilos, pounds) of the item needed for calculation.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="totalWeight" type="STL:Numeric1to3">
      <xsd:annotation>
        <xsd:documentation>Total weight of the item.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="RFIC" type="STL:AlphaNumericStringLength1">
      <xsd:annotation>
        <xsd:documentation>Reason for issuance code</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="totalFeeAmount" type="STL:_amount">
      <xsd:annotation>
        <xsd:documentation>The total fee amount associated to the service including taxes.            Mapped to: SR05_C1_FAMT</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="feeCode" type="STL:AlphaNumericStringLength1to5">
      <xsd:annotation>
        <xsd:documentation>PRAS code associated to the  service or item.                   Mapped to: SR05_C1_PRAS</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="description" type="STL:AlphaNumericStringLength1to19">
      <xsd:annotation>
        <xsd:documentation>Description of the purchased item or service.           Mapped to: SR05_C1_DESC</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="quantity" type="xsd:int">
      <xsd:annotation>
        <xsd:documentation>The number of items purchased per PRAS code.  Mapped to: SR05_C1_IQTY</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="currencyCode" type="STL:CurrencyCodeList">
      <xsd:annotation>
        <xsd:documentation>Currency code associated to the service or item purchased.                  Mapped to: SR05_C1_FCUR</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="feeAmount" type="STL:_amount">
      <xsd:annotation>
        <xsd:documentation>The base fee amount associated to the item or service which does not include taxes.           Mapped to: SR05_C1_BAMT</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="totalTax" type="STL:_amount">
      <xsd:annotation>
        <xsd:documentation>The total fee taxes associated to the item or service purchased.      Mapped to: SR05_C1_TAMT</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="RFISC" type="STL:AlphaNumericStringLength1to5">
      <xsd:annotation>
        <xsd:documentation>Reason for issuance sub-code</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="Fees">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Flight" type="Flight.Misc">
        <xsd:annotation>
          <xsd:documentation>Product or Service - flight or other ancillary service</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="99" minOccurs="0" name="Fee" type="Fee"/>
      <xsd:element minOccurs="0" name="Customer" type="Customer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Flight.Misc">
    <xsd:attribute name="carrierCode" type="STL:AirlineCode">
      <xsd:annotation>
        <xsd:documentation>The carrier code of the flight associated to the service.      Mapped to:  SR05_42_CXRC</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="flightNumber" type="STL:FlightNumber">
      <xsd:annotation>
        <xsd:documentation>The flight number associated to the service.           Mapped to: SR05_42_FLTN</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="classofService" type="STL:CabinType.3Chars">
      <xsd:annotation>
        <xsd:documentation>The flight class of service associated to the ancillary service.                   Mapped to: SR05_42_CLSV</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="originCityCode" type="STL:CityCode">
      <xsd:annotation>
        <xsd:documentation>The origin or depature city code of the flight associated to the service.           Mapped to: SR05_42_DCTY</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="destCityCode" type="STL:CityCode">
      <xsd:annotation>
        <xsd:documentation>The destination or arrival city of the flight associated to the service.          Mapped to: SR05_42_ACTY</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="travelDate" type="xsd:date">
      <xsd:annotation>
        <xsd:documentation>The departure date of the flight associated to the service.                    Mapped to: SR05_42_CDTE</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="stopOver" type="STL:AlphaNumericStringLength1">
      <xsd:annotation>
        <xsd:documentation>A code that applies to whether the flight is a stop over or not (X, O).      Mapped to: SR05_42_STOV</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="FormOfIdentification">
    <xsd:attribute name="idState" type="STL:AlphaLength2"/>
    <xsd:attribute name="idNumber" type="STL:AlphaNumericStringLength1to25"/>
    <xsd:attribute name="idCode" type="STL:AlphaLength2"/>
  </xsd:complexType>
  <xsd:complexType name="GetMiscFeesRQ">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Header" type="STL:Header.RQ"/>
      <xsd:element name="AgentPOS" type="AgentPOS"/>
      <xsd:element minOccurs="0" name="Fees" type="Fees"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetMiscFeesRS">
    <xsd:sequence>
      <xsd:element name="Header" type="STL:Header.RS"/>
      <xsd:element minOccurs="0" name="AgentPOS" type="AgentPOS"/>
      <xsd:element minOccurs="0" name="Fees" type="Fees"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Payment">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="PayAmount" type="STL:Amount">
        <xsd:annotation>
          <xsd:documentation>Amount paid for the service or item purchased</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ExchangeDoc" type="ExchangeDocNumber"/>
      <xsd:element name="FormOfIdentification" type="FormOfIdentification"/>
      <xsd:element minOccurs="0" name="PaymentRemarks" type="STL:Text"/>
    </xsd:sequence>
    <xsd:attribute name="issueDate" type="xsd:date">
      <xsd:annotation>
        <xsd:documentation>required if Maestro CC</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="extPayCode" type="STL:AlphaNumericStringLength1"/>
    <xsd:attribute name="compressNumber" type="STL:AlphaNumericStringLength1to25">
      <xsd:annotation>
        <xsd:documentation>required if Maestro CC</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="payCode" type="STL:AlphaLength2">
      <xsd:annotation>
        <xsd:documentation>A code that applies to the payment made (e.g. CC - Credit Card, CA- Cash).  Mapped: SR05_D1_FTYP</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="accountNumber" type="STL:AlphaNumericStringLength1to25">
      <xsd:annotation>
        <xsd:documentation>An account number associated to payment type (e.g, Credit Card Number, MICR number).          Mapped to: SR05_D1_FNBR</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="approvalCode" type="STL:AlphaNumericStringLength1to8">
      <xsd:annotation>
        <xsd:documentation>An approval code associated to payment.                  Mapped to: SR05_D1_APRV</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="expDate" type="STL:AlphaNumericStringLength1to5">
      <xsd:annotation>
        <xsd:documentation>Expiration date of the payment method used (e.g. credit card expiry date)   Mapped to: SR05_D1_EXPD</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="securityCode" type="STL:AlphaNumericStringLength1to5">
      <xsd:annotation>
        <xsd:documentation>Security card code of the payment method used.    Mapped to: SR05_D1_CSCC</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="transNumber" type="STL:AlphaNumericStringLength1to19">
      <xsd:annotation>
        <xsd:documentation>required if Maestro CC</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="Tax">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TaxAmount" type="STL:Amount"/>
    </xsd:sequence>
    <xsd:attribute name="taxExempt" type="STL:AlphaNumericStringLength1"/>
    <xsd:attribute name="taxCode" type="STL:AlphaNumericStringLength1to5">
      <xsd:annotation>
        <xsd:documentation>A code that applies to the tax (e.g, US, ZP)</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="WaiveMiscFeeRQ">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Header" type="STL:Header.RQ"/>
      <xsd:element name="AgentPOS" type="AgentPOS"/>
      <xsd:element maxOccurs="999" minOccurs="0" name="Fees" type="Fees"/>
      <xsd:element minOccurs="0" name="TotalCost" type="STL:Amount">
        <xsd:annotation>
          <xsd:documentation>The grand total cost of all the purchases made.  The calculated cost should match the total payment amount (single or multiple forms of payment)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DetailLevel" type="STL:RequestedDetailLevel"/>
      <xsd:element name="Override">
        <xsd:complexType>
          <xsd:attribute name="reasonDesc" type="STL:AlphaNumericStringLength1to25"/>
          <xsd:attribute name="reasonCode" type="STL:AlphaNumericStringLength1to5"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WaiveMiscFeeRS">
    <xsd:sequence>
      <xsd:element name="Header" type="STL:Header.RS"/>
      <xsd:element minOccurs="0" name="AgentPOS" type="AgentPOS"/>
      <xsd:element minOccurs="0" name="Fees" type="Fees"/>
      <xsd:element minOccurs="0" name="TotalCost" type="STL:Amount"/>
      <xsd:element minOccurs="0" name="Override">
        <xsd:complexType>
          <xsd:attribute name="reasonDesc" type="STL:AlphaNumericStringLength1to25"/>
          <xsd:attribute name="reasonCode" type="STL:AlphaNumericStringLength1to5"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
