tests/com.sabre.schemas.stl2Developer.test/Resources/Ticketing_v.0.0.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.sabre.com/ns/Ticketing/tktg/v_1" xmlns:STL="http://services.sabre.com/STL/v01" 
   xmlns:tktg="http://www.sabre.com/ns/Ticketing/tktg/v_1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
   attributeFormDefault="unqualified" elementFormDefault="qualified" 
   targetNamespace="http://www.sabre.com/ns/Ticketing/tktg/v_1" version="0.0">
  <xsd:annotation>
    <xsd:documentation>Generated by Contivo Builder on November 4, 2009 at 1:49:49 PM CST</xsd:documentation>
    <xsd:documentation>from the Ticketing_v.0.0.2 package with namespace http://www.sabre.com/ns/Ticketing/tktg/v_1</xsd:documentation>
  </xsd:annotation>
  <xsd:annotation>
    <xsd:documentation>Generated by Contivo Builder on September 16, 2009 at 2:05:35 PM CDT</xsd:documentation>
    <xsd:documentation>from the Ticketing_v.0.0.1 package with namespace http://www.sabre.com/ns/Ticketing/tktg/1.0</xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://services.sabre.com/STL/v01" schemaLocation="STL_For_ACS_BSO_v.0.0.3.xsd"/>
  <xsd:element name="GetTicketDataRQ" type="GetTicketDataRQ"/>
  <xsd:element name="GetTicketDataRS" type="GetTicketDataRS"/>
  <xsd:complexType name="Customer">
    <xsd:attribute name="lastName" type="STL:ProperName">
      <xsd:annotation>
        <xsd:documentation>The last name of the customer who purchased a ticket or service</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="firstName" type="STL:ProperName">
      <xsd:annotation>
        <xsd:documentation>The first name of the customer who purchased the ticket or service</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="pnrLocator" type="STL:AlphaNumericStringLength1to8">
      <xsd:annotation>
        <xsd:documentation>A code associated to the reservations of the customer purchasing an ancillary service.                      Mapped to: SR05_31_PNR</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="Document.Ticketing">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="IssueData" type="IssueData"/>
      <xsd:element minOccurs="0" name="Customer" type="Customer"/>
    </xsd:sequence>
    <xsd:attribute name="documentNumber" type="STL:AlphaNumericStringLength1to14">
      <xsd:annotation>
        <xsd:documentation>A number that identifies the document or ticket issued.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="checkDigit" type="STL:NumericStringLength1">
      <xsd:annotation>
        <xsd:documentation>A modulus 7 digit associated to the document/ticket nuimber</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="DocumentResults">
    <xsd:sequence>
      <xsd:element maxOccurs="99" minOccurs="0" name="Document" type="Document.Ticketing"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DocumentSearchCriteria">
    <xsd:attribute name="documentNumber" type="STL:AlphaNumericStringLength1to14"/>
    <xsd:attribute name="pnrLocator" type="STL:AlphaNumericStringLength1to8"/>
  </xsd:complexType>
  <xsd:complexType name="GetTicketDataRQ">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Header" type="STL:Header.RQ"/>
      <xsd:element name="Source" type="Source"/>
      <xsd:element name="DocumentSearchCriteria" type="DocumentSearchCriteria"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetTicketDataRS">
    <xsd:sequence>
      <xsd:element name="Header" type="STL:Header.RS"/>
      <xsd:element name="DocumentResults" type="DocumentResults"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IssueData">
    <xsd:attribute name="issueDate" type="xsd:date">
      <xsd:annotation>
        <xsd:documentation>The date the document or ticket was issued or reissued</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="origIssueDate" type="xsd:date">
      <xsd:annotation>
        <xsd:documentation>The date the document or ticket was originally issued.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="Source">
    <xsd:attribute name="clientCode" type="STL:AirlineCode" use="required">
      <xsd:annotation>
        <xsd:documentation>The carrier or partition code of the agent requesting for information about the document</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="posCityCode" type="STL:UpperCaseStringLength3to5">
      <xsd:annotation>
        <xsd:documentation>The point of sale or city code  of the agent requesting for information about the document.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
</xsd:schema>
